* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  /* display: block; */
}

html {
  --primary_link: rgb(76, 76, 76);
  --primary_hover: #262;
  --secondary_g: rgb(137, 57, 176);
  --background: rgb(252, 252, 252);
}

body {
  background: #f8f8f8;
}

div.content {
  width: 100%;
  background: #f4f4f4;
  margin: 0% auto 2% auto;
  border-top: 1px solid #949494;
  border-bottom: 1px solid #949494;
  padding: 1%;
  color: #3e3e3e;
}

div.menu {
  text-align: center;
}

h1 {
  color: #262;
  font-family: helvetica;
  font-weight: 200;
}

/* ---------- PRODUCT LIST --------- */

div.product-title {
  padding: 20px;
  text-align: center;
}

div.product-data {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

div.product-image {
  text-align: center;
  max-height: 500px;
  overflow: hidden;
}

div.product-image img {
  height: auto;
  width: 60%;
  display: block;
  margin: 0 auto;
}

div.product-brand-image {
  overflow: hidden;
}

div.product-brand-image img {
  height: auto;
  width: 60%;
  display: block;
  margin: 0 auto;
}

div.product-description {
  padding: 10px;
}

div.menu a {
  padding: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

div.menu a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  text-align: end;
  color: var(--primary_link);
}

a:hover {
  text-decoration: none;
  text-align: end;
  color: var(--primary_hover);
}

/* ---- PRODUCT LIST ------- 
*/
div.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  max-width: 1000px;
  margin: auto;
  gap: 1rem;
  background-color: #f8f8f8;
}

div.product-list-item img {
  height: auto;
  width: 50%;
  /* display: block; 
  margin: 0 auto; */
}

div.product-list-item {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.product-list-item h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  max-width: 20ch;
  text-align: center;
}

div.product-list-item:hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(47, 47, 47, 0.1);
}

.product-sold-out {
  opacity: 0.3;
}

.text-sold-out {
  opacity: 0.4;
  position: absolute;
  bottom: 3%;
  left: 25%;
  width: 20%;
  background-color: rgb(194, 183, 183);
  color: rgb(0, 0, 0);
  padding: 5px;
  /* transform-origin: top right; */
  z-index: 1;
  text-align: center;
}

.product-list-image-container {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* .product-list-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
} */

.product-price-band {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  background-color: red;
  color: white;
  padding: 5px;
  transform: translate(20px, 50px) rotate(45deg);
  transform-origin: top right;
  z-index: 1;
  text-align: center;
}

.hide {
  display: none;
}

/* ---- CATEGORY LIST ------- */

.category-button {
  padding: 5% 30%;
  margin: 1% 5%;
  width: 90%;
  background-color: #262;
  border: #262 solid 1px;
  color: rgb(241, 241, 241);
}

.category-button:hover {
  background-color: rgb(245, 245, 245);
  border: #262 solid 1px;
  cursor: pointer;
  color: #262;
}

/* div.category-item {
  background-color: #262;
  padding: 5%;
  margin: 1%;
  text-align: center;
}

div.category-item:hover {
  background-color: rgb(231, 231, 231);
  padding: 5%;
  margin: 1%;
  text-align: center;
  border: #262 solid 1px;
} */

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category-list a {
  font-family: Arial, Helvetica, sans-serif;
  color: #f8f8f8;
}

.category-list a:hover {
  color: #262;
}

/* ---- PRODUCT DATA ---- */
ol.breadcrumb {
  display: flex;
  list-style: none;
  margin: 20px;
  padding: 0;
  gap: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

ol.breadcrumb a:hover {
  text-decoration: underline;
}

.product-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.product-attibutes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.size-decoration {
  margin-top: 10%;
  color: #262;
  background-color: #f5f5f5;
  border: #262 solid 1px;
}

.add-to-basket {
  padding: 5% 30%;
  margin: 20% 0;
  background-color: #262;
  border: #262 solid 1px;
  color: rgb(241, 241, 241);
}

.add-to-basket:hover {
  background-color: rgb(245, 245, 245);
  border: #262 solid 1px;
  cursor: pointer;
  color: #262;
}

.product-information h2,
dl,
h3,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
.product-information h2,
h3 {
  font-weight: bolder;
  font-size: xx-large;
  font-weight: lighter;
  color: #262;
}
.product-information dt {
  font-size: larger;
  font-weight: 100;
}

.purchaseBox h3 {
  color: #262;
  font-weight: lighter;
}
